<footer class="footer_area clearfix">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6">
                <div class="single_widget_area d-flex mb-30">
                    <div class="footer-logo mr-50">
                        <a href="/"><img src="./assets/images/logo-white.png" alt="Logo" /></a>
                    </div>

                    <div class="footer_menu">
                        <ul>
                            <li><a href="/shop">Shop</a></li>
                            <li><a href="/orders">Orders</a></li>
                            <li><a href="/contact">Contact</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6">
                <div class="single_widget_area mb-30">
                    <ul class="footer_widget_menu">
                        <li><a href="/orders">Order Status</a></li>
                        <li><a href="/profile">Payment Options</a></li>
                        <li><a href="/profile">Shipping and Delivery</a></li>
                        <li><a href="/wishlist">Wishlist</a></li>
                        <li><a href="#recommended-books">Recommended Books</a></li>
                        <li><a href="#popular-books">Popular Books</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row align-items-end">
            <div class="col-12 col-md-6">
                <div class="single_widget_area">
                    <div class="footer_social_area">
                        <a href="#" data-toggle="tooltip" data-placement="top" title="Facebook"
                            ><i class="fa fa-facebook" aria-hidden="true"></i
                        ></a>
                        <a href="#" data-toggle="tooltip" data-placement="top" title="Instagram"
                            ><i class="fa fa-instagram" aria-hidden="true"></i
                        ></a>
                        <a href="#" data-toggle="tooltip" data-placement="top" title="Twitter"
                            ><i class="fa fa-twitter" aria-hidden="true"></i
                        ></a>
                        <a href="#" data-toggle="tooltip" data-placement="top" title="Pinterest"
                            ><i class="fa fa-pinterest" aria-hidden="true"></i
                        ></a>
                        <a href="#" data-toggle="tooltip" data-placement="top" title="Youtube"
                            ><i class="fa fa-youtube-play" aria-hidden="true"></i
                        ></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-5">
            <div class="footer_credits col-md-12 text-center">
                <p>
                    Copyright &copy;
                    <script>
                        document.write(new Date().getFullYear());
                    </script>

                    All rights reserved <br />
                    Made and Maintained by
                    <a href="https://www.linkedin.com/in/suriya-2002/" target="_blank">Suriya KS</a>,
                    <a href="https://www.linkedin.com/in/rohit-r-0a61a5201" target="_blank">Rohit R</a>,
                    <a href="https://www.linkedin.com/in/sathianm/" target="_blank">Sathian M</a>, and
                    <a href="https://www.linkedin.com/in/s-a-gandheesh-93b58a197/" target="_blank">
                        S.A. Gandheesh
                    </a>
                    | With Credits to
                    <a href="https://colorlib.com/" style="opacity: 0.3">Colorlib</a>
                </p>
            </div>
        </div>
    </div>
</footer>
