<!-- ##### Footer Area Start ##### -->
<footer class="footer_area clearfix">
    <div class="container">
        <div class="row">
            <!-- Single Widget Area -->
            <div class="col-12 col-md-6">
                <div class="single_widget_area d-flex mb-30">
                    <!-- Logo -->
                    <div class="footer-logo mr-50">
                        <a href="#"><img src="./assets/images/logo-white.png" alt="" /></a>
                    </div>
                    <!-- Footer Menu -->
                    <div class="footer_menu">
                        <ul>
                            <li><a href="/shop">Shop</a></li>
                            <li><a href="#">Orders</a></li>
                            <li><a href="/contact">Contact</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- Single Widget Area -->
            <div class="col-12 col-md-6">
                <div class="single_widget_area mb-30">
                    <ul class="footer_widget_menu">
                        <li><a href="#">Order Status</a></li>
                        <li><a href="#">Payment Options</a></li>
                        <li><a href="#">Shipping and Delivery</a></li>
                        <li><a href="#">Wishlist</a></li>
                        <li><a href="#recommended-books">Recommended Books</a></li>
                        <li><a href="#popular-books">Popular Books</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row align-items-end">
            <!-- Single Widget Area -->
            <div class="col-12 col-md-6">
                <div class="single_widget_area">
                    <div class="footer_social_area">
                        <a href="#" data-toggle="tooltip" data-placement="top" title="Facebook"
                            ><i class="fa fa-facebook" aria-hidden="true"></i
                        ></a>
                        <a href="#" data-toggle="tooltip" data-placement="top" title="Instagram"
                            ><i class="fa fa-instagram" aria-hidden="true"></i
                        ></a>
                        <a href="#" data-toggle="tooltip" data-placement="top" title="Twitter"
                            ><i class="fa fa-twitter" aria-hidden="true"></i
                        ></a>
                        <a href="#" data-toggle="tooltip" data-placement="top" title="Pinterest"
                            ><i class="fa fa-pinterest" aria-hidden="true"></i
                        ></a>
                        <a href="#" data-toggle="tooltip" data-placement="top" title="Youtube"
                            ><i class="fa fa-youtube-play" aria-hidden="true"></i
                        ></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-5">
            <div class="footer_credits col-md-12 text-center">
                <p>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    Copyright &copy;
                    <script>
                        document.write(new Date().getFullYear());
                    </script>
                    All rights reserved | Made and Maintained by
                    <a href="#" target="_blank">Suriya KS</a>, <a href="#" target="_blank">Rohit R</a>,
                    <a href="#" target="_blank">Sathian M</a>, and
                    <a href="#" target="_blank">S.A. Gandheesh</a>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                </p>
            </div>
        </div>
    </div>
</footer>
<!-- ##### Footer Area End ##### -->
