<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

        <!-- Title  -->
        <title>.lib - {#BOOK_NAME#}</title>

        <!-- Favicon  -->
        <link rel="icon" href="" />

        <!-- Core Style CSS -->
        <link rel="stylesheet" href="./css/core-style.css" />
        <link rel="stylesheet" href="./css/style.css" />
    </head>

    <body>
        <%- include('./includes/navigation-bar.ejs') %>

        <!-- ##### Single Product Details Area Start ##### -->
        <section class="single_product_details_area d-flex align-items-center">
            <!-- Single Product Thumb -->
            <div class="single_product_thumb clearfix">
                <div class="product_thumbnail_slides owl-carousel">
                    <img src="./assets/images/book.jpg" alt="" />
                    <img src="./assets/images/book.jpg" alt="" />
                    <img src="./assets/images/book.jpg" alt="" />
                </div>
            </div>

            <!-- Single Product Description -->
            <div class="single_product_desc clearfix">
                <span>{#BOOK_GENRE#}</span>
                <h2>{#BOOK_NAME#}</h2>
                <p class="product-price"><span class="old-price">$65.00</span> $49.00</p>
                <p class="product-desc">{#BOOK_DESCRIPTION#}</p>

                <!-- Form -->
                <form class="cart-form clearfix" method="post">
                    <!-- Select Box -->
                    <div class="select-box d-flex mt-50 mb-30">
                        <select name="select" id="productSize" class="mr-5">
                            <option value="value">Valid for: 1 Week</option>
                            <option value="value">Valid for: 2 Weeks</option>
                            <option value="value">Valid for: 3 Weeks</option>
                            <option value="value">Valid for: 1 Month</option>
                        </select>
                    </div>
                    <!-- Cart & Favourite Box -->
                    <div class="cart-fav-box d-flex align-items-center">
                        <!-- Cart -->
                        <button type="submit" name="addtocart" value="5" class="btn essence-btn">
                            Add to cart
                        </button>
                        <!-- Favourite -->
                        <div class="product-favourite ml-4">
                            <a href="#" class="favme fa fa-heart"></a>
                        </div>
                    </div>
                </form>
            </div>
        </section>
        <!-- ##### Single Product Details Area End ##### -->

        <%- include('./includes/footer.ejs') %>

        <!-- jQuery (Necessary for All JavaScript Plugins) -->
        <script src="./js/jquery/jquery-2.2.4.min.js"></script>
        <!-- Popper js -->
        <script src="./js/popper.min.js"></script>
        <!-- Bootstrap js -->
        <script src="./js/bootstrap.min.js"></script>
        <!-- Plugins js -->
        <script src="./js/plugins.js"></script>
        <!-- Classy Nav js -->
        <script src="./js/classy-nav.min.js"></script>
        <!-- Active js -->
        <script src="./js/active.js"></script>
    </body>
</html>
